form input, form span, form textarea {
    display: block; /* Разместить каждый элемент на новой строке */
    margin-bottom: 10px; /* Добавить небольшой отступ между элементами */
}

body{
    color: bisque;
    background-color: black ;
}

br {
    display: none;
}

.list-group-item {
background-color: bisque;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}